<h1>Login!</h1>
<div class="container">
    <div class="alert alert-warning" *ngIf='invalidUser'>{{errorMessage}}</div>
    <div>
        Username: <input type='text' name="username" [(ngModel)]="username"> Password: <input type='password' name="password"
            [(ngModel)]="password">

        <!-- <button (click)="onLogin()" class="btn btn-success">Login</button> -->
        <!-- <button (click)="onBasicAuthLogin()" class="btn btn-success">Login</button> -->
        <button (click)="onJWTAuthLogin()" class="btn btn-success">Login</button>
    </div>
</div>